<!DOCTYPE html>
<html>
  <head>
    <title>Railslab2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav">
    <% if user_signed_in? %>

    <li class="nav-item">
     <%= link_to 'Sign out' , destroy_user_session_path, method: :delete,class: 'nav-link' %>
    </li>  

    <% else %>
    
    <li class="nav-item">
     <%= link_to 'Register' , new_user_registration_path,class: 'nav-link' %>
    </li>  

    <li class="nav-item">
     <%= link_to 'Sign in' , new_user_session_path,class: 'nav-link' %>
    </li>  

    <% end %>
    </ul>    
    </div>
  </div>
</nav>


     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
